exclude *.ipynb
include *.ini

#include models/xlm_roberta_large/20211105_085009/trial_0/fold_0/lightning_logs/version_0/checkpoints/*.bin
#include models/xlm_roberta_large/20211105_085009/trial_0/fold_0/lightning_logs/version_0/checkpoints/*.json

#include models/xlm_roberta_large/20211110_082218/lightning_logs/version_0/checkpoints/*.bin
#include models/xlm_roberta_large/20211110_082218/lightning_logs/version_0/checkpoints/*.json

#include models/xlm_roberta_large/20211108_180312/lightning_logs/version_0/checkpoints/*.bin
#include models/xlm_roberta_large/20211108_180312/lightning_logs/version_0/checkpoints/*.json

include models/lgb/20211218_124641/model.txt
